@use "__image/banner__image.scss";
@use "__button/banner__button.scss";
@use "__button-image/banner__button-image.scss";

.banner {
  grid-column-start: 1;
  grid-column-end: 13;

  margin-top: 20px;

  position: relative;

  cursor: pointer;
}
