@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hind Madurai", sans-serif;
}

html {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

body {
  min-height: 100vh;
  height: 100%;

  background-color: #f5f5f5;
}
