@use "__container/promotions-by-department__container.scss";

@use "__card/promotions-by-department__card.scss";
@use "__text/promotions-by-department__text.scss";
@use "__title/promotions-by-department__title.scss";
@use "__discount/promotions-by-department__discount.scss";
@use "__check/promotions-by-department__check.scss";
@use "__check-rules/promotions-by-department__check-rules.scss";
@use "__product-image/promotions-by-department__product-image.scss";
@use "__small-image-container/promotions-by-department__small-image-container";

@use "__name/promotions-by-department__name.scss";
@use "__name-underline/promotions-by-department__name-underline.scss";

.promotions-by-department {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  grid-column-start: 1;
  grid-column-end: 13;
}
