@use "_small/promotions-by-department__card_small.scss";

.promotions-by-department__card {
  display: flex;

  height: 200px;

  position: relative;

  overflow: hidden;

  background-color: white;
}
